# Bandit
# ----------------------------------------------------------------
bandit==1.7.6  # https://github.com/PyCQA/bandit
bandit-sarif-formatter==1.1.1  # https://github.com/microsoft/bandit-sarif-formatter

# Checkov
# ----------------------------------------------------------------
checkov==3.1.53  # https://github.com/bridgecrewio/checkov

# Semgrep
# ----------------------------------------------------------------
semgrep==1.55.1  # https://github.com/returntocorp/semgrep

# CryptoLyzer
# ----------------------------------------------------------------
CryptoLyzer==0.12.2  # https://gitlab.com/coroner/cryptolyzer

# Importer
# ----------------------------------------------------------------
requests==2.31.0
