# Bandit
# ----------------------------------------------------------------
bandit==1.7.5  # https://github.com/PyCQA/bandit
bandit-sarif-formatter==1.1.1  # https://github.com/microsoft/bandit-sarif-formatter

# Checkov
# ----------------------------------------------------------------
checkov==2.3.141  # https://github.com/bridgecrewio/checkov

# Semgrep
# ----------------------------------------------------------------
semgrep==1.15.0  # https://github.com/returntocorp/semgrep

# CryptoLyzer
# ----------------------------------------------------------------
CryptoLyzer==0.8.4  # https://gitlab.com/coroner/cryptolyzer

# Importer
# ----------------------------------------------------------------
requests==2.28.2
